.tagsname{
    width: fit-content;
    background-color: #C5E3FC;
    border-radius: 10px;
    padding: 5px 10px ;
    /* margin-right: 5px;
    margin-left: 10px; */
    font-size: 14px;
    font-weight: 600;
    color: #555;
}

.description{
    font-size: 14px;
    color: #033F74;
}

.quantity{
    font-size: 14px;
    color: #666666
}

.tags-box {
    width: 250px;
    height: 250px; /* Đặt chiều dài cố định */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
